/*****header*****/
.navbar-brand{
    margin-left: 30px;
}
.navbar-nav{
    margin-right: 25px;
}
.h-img{
    position: relative;
    min-height: 100vh;
    background-image: url(h-img.png);
    background-size: cover;
    background-position: center;
    color: white;
}
.h-img p{
    position: absolute;
    color: white;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    margin: 0;
    padding: 0;
    font-size: 50px;
    animation-name: welcome;
    animation-duration: 3s;
}
@keyframes welcome{
    from{
        opacity: 0;
    }

    to{
        opacity: 1;
    }
}

/*****main*****/
body{
    font-family: 'ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serifß;
}
.sec-about,.sec-service,.sec-skill,.sec-contact{
    padding-top:100px ;
    padding-bottom: 120px;
}
h2{
    margin-bottom: 70px;
    position: relative;
    font-size: 28px;
}
h2::before{
  content: '';
  position: absolute;
  left: 50%;
  bottom: -20px;
  display: inline-block;
  width: 60px;
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #C0C0C0;
  border-radius: 2px;
}
h3{
    font-size: 24px;
}
.sec-about p{
    line-height: 1.5;
}
.sec-about,.sec-skill{
    background-color: #f0f8ff;
}
.m-service-i{
    font-size: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.img-skill1{
    width: 100%;
    height: auto;
}
.img-skill2{
    width: 100%;
    height: auto;
}
.skill-btn{
    background-color:  #2196F3;
    color: white;
}
/******footer******/
footer{
    background-color:#2196F3;
    color: white;
}
/******メディアクエリ******/
@media screen and (max-width: 991px){
    .navbar-brand{
        margin-left: 0;
    }
    .card{
        margin-bottom: 50px;
    }
    .sec-contact{
        padding-bottom: 100px;
    }
}

